.Home {
    position: relative;
    background: #F9F9F9;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.Home>* {
    margin-top: 20px;
}

.Pagination {
    align-self: center;
}