.Home {
    position: relative;
    background: #F9F9F9;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    min-height: 100%;
}

.Home>* {
    margin-top: 20px;
}

.Pagination {
    align-self: center;
}

.Grid {
    flex-grow: 1;
}

@media only screen and (min-width: 768px) {
    .Home {
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
        overflow: hidden;
    }
}