.ProfileForm {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ProfileForm>* {
    margin: 5px;
    padding: 5px;
}

.ProfileForm>*>* {
    width: 100%;
}

.ProfileHeader {
    font-size: 24px;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.ProfileContainer>* {
    margin: 15px 10px;
}

.submit {
    width: 100%;
    margin-top: 16px;
}

.Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Button>* {
    margin: 5px 0;
}

@media only screen and (min-width: 768px) {
    .ProfileContainer {
        background: white;
    }
    .submit {
        width: fit-content;
        padding: 5px 40px;
        align-self: center;
    }
    .FormWrapper {
        display: flex;
        flex-direction: column;
    }
}