.SearchBar {
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 5px;
    box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.05);
}

.SearchBar>* {
    margin: 0 2px;
}

.SearchIcon {
    opacity: 50%;
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
}

.SearchIcon :hover {
    cursor: pointer;
}

.SearchInput {
    flex-grow: 1;
    padding: 5px;
    border: none;
    outline: none;
}

.SearchInput :focus {
    outline: none;
}