.Container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.StatusContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.Title {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.AdvancedSearch {
    background: white;
    margin: 5px;
    padding: 15px;
    height: fit-content;
    transition: transform 1s;
    z-index: 0;
}

.DisplayAdvanced {
    transform: translateY(-100vw);
    height: 0;
}

.StatusGroup>* {
    margin: 0 10px;
}

.Dimensions {
    display: flex;
    align-items: center;
    margin: 5px;
}

.Dimensions>* {
    display: flex;
    align-items: center;
    margin: 5px;
}

.Pagination {
    align-self: center;
}