.ProfileForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ProfileForm>* {
    margin: 5px;
    padding: 5px;
}

.ProfileHeader {
    font-size: 24px;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.ProfileContainer>* {
    margin: 15px 10px;
}

.TextareaContainer {
    display: flex;
    flex-direction: column;
}

.TextArea {
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.Photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: contain;
}

.submit {
    width: 100%;
    margin-top: 16px;
}

.AvatarContainer {
    position: relative;
}

.changePhotoLabel {
    background: black;
    width: 50%;
    opacity: 0.3;
    color: white;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    bottom: 5%;
    left: 25%;
}

.avatarSpinner {
    position: absolute;
    left: 45%;
    top: 45%;
}

.opacity {
    opacity: 0.2;
}

.Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Button>* {
    margin: 5px 0;
}

@media only screen and (min-width: 768px) {
    .ProfileContainer {
        background: white;
    }
    .submit {
        width: fit-content;
        padding: 5px 40px;
        align-self: center;
    }
    .FormWrapper {
        display: flex;
        flex-direction: column;
    }
    .Photo:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}