body {
    background: #F9F9F9;
}

.PetContainer {
    flex: 1 1 auto;
    margin-top: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Header {
    display: flex;
    margin: 10px;
    padding: 5px 15px;
    justify-content: space-between;
}

.PhotoContainer {
    width: 100%;
    display: flex;
}

.Icon {
    height: max-content;
    display: flex;
    margin: 10px;
}

.Photo {
    margin-top: 5px;
    flex-grow: 1;
    height: 200px;
    object-fit: contain;
}

.InfoContainer {
    flex-grow: 1;
    position: relative;
    background: white;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InfoHeader {
    width: 100%;
    margin: 10px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoHeader>* {
    margin-right: 10px;
}

.InfoWrapper {
    width: 100%;
    margin: 10px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SecondaryInfoWrapper {
    width: 100%;
    margin: 10px;
    padding: 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

.SecondaryInfoWrapper>* {
    flex: 1 0 40%;
    margin: 5px;
    text-align: center;
}

.PetName {
    font-size: 25px;
}

.Gender {
    width: 20px;
    height: 20px;
}

.type {
    font-size: 20px;
}

.AboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.AboutContainer>* {
    margin: 5px;
    padding: 0 15px;
}

.AboutHeader {
    font-size: 24px;
}

.Buttons {
    width: 100%;
    display: flex;
    margin: 10px;
    padding: 5px 15px;
    justify-content: space-between;
}

.Buttons>* {
    flex-grow: 1;
    margin: 5px;
}